.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.digits {
  margin: 100px 0;
}

.techniques {
  width: 80%;
  margin: 100px auto 0;
}
    
.video {
  margin: 100px auto -50px;
  position: relative;
  z-index: 9999;
}

.oakley {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 160px 0 0;
}