.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 920px;
  padding: 0;
}

.cards__item {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  text-align: center;
}

.cards__item:nth-child(3n+2) {
  margin: 0 100px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 0 40px;
}

.cards__title {
  padding-top: 34px;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  padding-top: 16px;
  line-height: 23px;
  font-size: 18px;
  margin: 0;
}